USE [Superstore]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Marcus Pendleton
-- Create date: 5/7/2026
-- Update date: 5/30/2026
-- Description: Create Customer
--
-- EXEC CreateCustomer
--      @FirstName = 'Marcus',
--      @LastName = 'Pendleton',
--      @SegmentID = 1
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[CreateCustomer]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @SegmentID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        INSERT INTO dbo.Customer
        (
            FirstName,
            LastName,
            SegmentID
        )
        VALUES
        (
            @FirstName,
            @LastName,
            @SegmentID
        );

        SELECT
            SCOPE_IDENTITY() AS NewCustomerID;

    END TRY

    BEGIN CATCH

        SELECT
            ERROR_MESSAGE() AS ErrorMessage;

    END CATCH
END
GO