USE [Superstore]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Marcus Pendleton
-- Create date: 5/29/2026
-- Description: Create Order
----------------------------

-- EXEC CreateOrder
--      @OrderDate = GETDATE(),
--      @CustomerID = 1,
--      @SalesPrice = 100.00,
--      @Quantity = 2,
--      @Discount = 5.00,
--      @Profit = 20.00,
--      @ShipModeID = 1,
--      @ShipDate = GETDATE(),
--      @OrderKey = 'ORD-100',
--      @CustomerKey = 'CUST-100'
-- =============================================

CREATE OR ALTER PROCEDURE dbo.CreateOrder
@OrderDate DATETIME,
@CustomerID INT,
@SalesPrice DECIMAL(18,2),
@Quantity INT,
@Discount DECIMAL(18,2),
@Profit DECIMAL(18,2),
@ShipModeID INT,
@ShipDate DATETIME,
@OrderKey NVARCHAR(50),
@CustomerKey NVARCHAR(50)
AS
BEGIN
SET NOCOUNT ON;

BEGIN TRY

    INSERT INTO dbo.[Order]
    (
        OrderDate,
        CustomerID,
        SalesPrice,
        Quantity,
        Discount,
        Profit,
        ShipModeID,
        ShipDate,
        OrderKey,
        CustomerKey,
        IsActive
    )
    VALUES
    (
        @OrderDate,
        @CustomerID,
        @SalesPrice,
        @Quantity,
        @Discount,
        @Profit,
        @ShipModeID,
        @ShipDate,
        @OrderKey,
        @CustomerKey,
        1
    );

    SELECT
        SCOPE_IDENTITY() AS NewOrderID;

END TRY

BEGIN CATCH

    SELECT
        ERROR_MESSAGE() AS ErrorMessage;

END CATCH

END
GO
