USE [Superstore]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Marcus Pendleton
-- Create date: 5/28/2026
-- Update date: 5/30/2026
-- Description: Get Customer
-- EXEC GetCustomer @CustomerID = 1
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[GetCustomer]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            c.CustomerID,
            c.FirstName,
            c.LastName,
            s.Segment
        FROM dbo.Customer AS c
        JOIN dbo.Segment AS s
            ON c.SegmentID = s.SegmentID
        WHERE c.CustomerID = @CustomerID
            AND c.IsActive = 1;

    END TRY

    BEGIN CATCH

        SELECT
            ERROR_MESSAGE() AS ErrorMessage;

    END CATCH
END
GO