USE [Superstore]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marcus Pendleton
-- Create date:  5/142026
-- Update date: 
-- Description:	Get all Categories
--EXEC GetAllCategories @CategoryID = 1, @SubCategoryID = 1
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCategories]
  @CategoryID INT
  @Category NVARCHAR(50);

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

BEGIN TRY
   SELECT TOP 100 c.CategoryID, c.SubCategoryID, c.Category, s.SubCategory
 FROM dbo.Customer AS c
 WHERE c.Category = @CategoryID;
END TRY
BEGIN CATCH
  SELECT ERROR_MESSAGE() AS ErrorMessage;
  END CATCH;
END
