USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomers]    Script Date: 5/28/2026 1:10:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marcus Pendleton	
-- Create date: 5/28/2026
-- Update date: 
-- Description:	Get Order Details
-- EXEC GetOrderDetails, @OrderID = 1
-- =============================================
CREATE PROCEDURE [dbo].[GetOrderDetails]
  @OrderID INT;

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
       SELECT 
	    JSON_QUERY(
	    (SELECT o.OrderID, OrderDate, FirstName, LastName, SalesPrice, Quantity, Discount, Profit, ShipDate
		FROM dbo.[Order] as o
		JOIN dbo.OrderDetail od ON o.OrderID = od.OrderID
		  ON o.CustomerID = c.CustomerID
		JOIN dbo.ShipMode S
		ON o.ShipModeID = s.ShipModeID
		WHERE OrderID = @OrderID
		) 
		)AS [Order],
		JSON_QUERY(
		(SELECT p.ProductID,
			ProductName,
			p.CategoryID,
			c.Category,
			p.SubCategoryID,
			sc.SubCategory,
			UnitPrice,
		    Inventory
		FROM dbo.OrderDetail od
		JOIN dbo.Product AS p
		 ON od.ProductID = p.ProductID
		JOIN dbo.Category AS c
		  ON p.CategoryID = c.CategoryID
		JOIN dbo.SubCategory AS sc
		  ON p.SubCategoryID = sc.SubCategoryID
		WHERE od.OrderID = @OrderID AND o.IsActive = 1
		
		
		)
		) AS [Products]
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER

	END TRY

	BEGIN CATCH
   		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH;
END
