USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 5/12/2026 1:40:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marcus Pendleton	
-- Create date: 4/16/2026
-- Update date: 5/12/2026
-- Description:	Update a Customer
-- EXEC UpdateCustomer @CustomerID = 1
-- EXEC UpdateCustomer @FirstName = 'Marcus', @LastName = 'Pendleton', @SegmentID = 1, @CustomerID = 
-- =============================================
CREATE PROCEDURE [dbo].[UpdateCustomer]
	@CustomerID INT,
	@FirstName NVARCHAR(50) = NULL,
	@LastName  NVARCHAR(50) = NULL,
	@SegmentID INT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
    		UPDATE dbo.Customer
		SET FirstName = COALESCE(@FirstName, FirstName), 
			LastName = COALESCE(@LastName, LastName), 
			SegmentID = COALESCE(@SegmentID, SegmentID),
			DateUpdated = GETDATE()
		WHERE CustomerID = @CustomerID;
	END TRY
	BEGIN CATCH
   		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH;
END
